{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    
        <!-- Internet Connection -->
        <div class="alert" id="checkOnline"></div>
        <!-- Page loader -->
        <div id="loader-page">
            <div class="loader" id="line">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
        </div>
        <!-- Menu Nav -->
{% include 'inc/menu-nav.html' %}
        <!-- page content -->
        <main class="main-content flex-shrink-0">
            <!-- Header Area-->
            <div class="header-area">
                <div class="container d-flex h-100 align-items-center justify-content-between pe-0">
                        <div class="header-logo col">
                        <a class="navbar-brand" href="home.html">
                            <img src="img/logo.png" class="navbar-brand-img" alt="logo">
                        </a>
                        </div>
                        <div class="col-auto position-relative">
                            <form action="#">
                                <input id="search-box" type="text" class="search-box"  />
                                <label for="search-box" class="btn navbar-toggler text-color1"><i class="fa fa-search"></i></label>
                            </form>
                        </div>
                        <div class="col-auto me-2">
                            <a href="notifications.html" class="navbar-toggler text-color1 position-relative"><i class="fa fa-bell icon-effect"></i><span class="count-notif"></span></a>
                            </div>
                        <div class="col-auto">
                        <button class="btn navbar-toggler navbar-menu-toggler icon-boxed rounded-start"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
            </div>
                <div class="content-wrapper">
                    <!-- Main Slider -->
                    <section class="slider-section">
                        <div class="container-fluid">
                            <div class="main-slider owl-carousel">
                                <div class="item slide-content d-flex align-items-center" style="background-image: url('img/banner/banner-1.png')">
                                    <div class="slider-content">
                                        <h4 class="color-white mb-2">مک پرو 2020</h4>
                                        <p class="fs-18 text-color3 fw-bold">25000 تومان</p>
                                    </div>
                                </div>
                                <div class="item slide-content d-flex align-items-center" style="background-image: url('img/banner/banner-3.png')">
                                    <div class="slider-content">
                                        <h4 class="color-white mb-2">کتاب پرفروش</h4>
                                        <p class="color-white fs-16">تخفیف <span class="fw-bold"> -60% تخفیف</span> این هفته</p>
                                        <a href="#" class="btn btn-sm btn-warning rounded-pill">خرید کن</a>
                                    </div>
                                </div>
                                <div class="item slide-content d-flex align-items-center" style="background-image: url('img/banner/banner-2.png')">
                                    <div class="slider-content">
                                        <h4 class="text-dark mb-2">کنترل کننده بازی</h4>
                                        <p class="text-dark fs-16">کنترل کننده پرو</p>
                                        <a href="#" class="btn btn-sm bg-color16 color-white rounded-pill">خرید کن</a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-dots">
                                <div class="owl-dot active"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                            </div>
                        </div>
                    </section>
                    <!-- Product Catagories-->
                    <section class="featured-products mt-20">
                        <div class="container">

                            
                            <div class="featured-products-area owl-carousel">
                                {% for category in categories  %}                                                                                                                    
                                <div class="product-item-card ">
                                    <a href="{{ category.get_absolute_url }}">
                                        <img src="{{ category.image.url }}" alt="image">
                                    </a>                              
                                </div>
                                {% endfor %}                                                                                                
                            </div>
                            
                        </div>
                    </section>
                </div>
                    <!-- Product List -->
                    <section class="product-section-grid mt-20">
                        <div class="container">
                            <div class="title-section d-flex align-items-center justify-content-between">
                                <h6>بهترین محصولات</h6>
                                <a href="shop-list.html" class="btn btn-darkblue text-color1 fw-bold">بیشتر </a>
                            </div>
                            
                            <div class="row row-cols-2 row-cols-lg-5 g-3 g-lg-3">
                                {% for product in products %}    
                                <div class="col-6 col-md-4 col-lg-3">
                                      
                                  <div class="product-item-card p-3">
                                    
                                    <a class="btn-favorite"><i class="fas fa-heart"></i></a>
                                        
                                    <a href="{{ product.get_absolute_url }}">
                                            <img src="{{ product.image.url }}" alt="">
                                        </a>
                                        
                                        <div class="products-content">
                                            <span class="product-title fw-bold">مک پرو 2020</span>
										    <p class="price mt-1 mb-0"> 6500 تومان <del class="old-price ms-2">9500 تومان</del>  </p>
                                            <div class="product-rating pt-1">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="#" class="btn btn-cart btn-sm basicSuccess"><i class="fa fa-shopping-bag"></i></a>
                                        </div>
                                    
                                    </div>
                                    
                                </div>
                                <br><br><br>
                                {% endfor %}
                            </div>
                            
                            
                            
                        </div>
                        
                    </section>
                    <!-- Banner Area -->

                    <!-- Featured Product  -->

            <!-- Footer -->
                {% include 'inc/footer.html' %}
{% include 'inc/jstemplates.html' %}
        <!-- Progressive Web App -->
        <script src="js/pwa.js"></script>


    {% endblock content %}